:root {
  --main-text-color: #1D1D1D;
  --secondary-text-color: #8C8C8C;
  --main-accent-color: #FF868E;
  --secondary-accent-color: #FBE0DC;
  --white-color: #ffffff;
  --background-items-color: #F8F8F7;
  --dark-shady-color: rgba(255, 255, 255, 0.05);
  --light-shady-color: rgba(255, 255, 255, 0.1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Jost, sans-serif;
  color: var(--secondary-text-color);
  background-color: #F8F8F7;
}
body.night-mode {
  background-color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 375px) {
  .container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 30px;
    padding-left: 117px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-left: 147px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  margin-right: 8px;
}

.logo__text {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(29 / 20);
  letter-spacing: 2px;
  color: var(--main-text-color);
}
.night-mode .logo__text {
  color: var(--white-color);
}

.switcher__icon {
  background-color: var(--white-color);
  width: 24px;
  height: 24px;
  padding: 4px;
  border-radius: 50px;
}
.night-mode .switcher__icon {
  background: rgba(255, 255, 255, 0.05);
  padding-top: 9px;
}

.switcher__icon--nigth {
  display: none;
}
.night-mode .switcher__icon--nigth {
  display: block;
}

.night-mode .switcher__icon--day {
  display: none;
}

.switcher__toggle:checked + .switcher__label {
  background-color: rgba(255, 134, 142, 0.2);
}
.switcher__toggle:checked + .switcher__label:before {
  transform: translateX(20px);
}

.switcher__label {
  display: flex;
  width: 44px;
  height: 24px;
  border-radius: 50px;
  position: relative;
  transition: transform 750ms ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;
  background-color: var(--secondary-accent-color);
}
.switcher__label:before {
  transition: transform 750ms ease;
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--main-accent-color);
  border-radius: 50%;
  top: 4px;
  left: 4px;
}

.button {
  text-align: center;
  letter-spacing: 2px;
  color: var(--main-accent-color);
  border-color: transparent;
  border-radius: 10px;
  padding: 10px;
}
.nigth-mode .button {
  background: var(--light-shady-color);
}

.site-nav__button {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  width: 100%;
  height: 36px;
  background-color: var(--white-color);
  margin-bottom: 20px;
}
.site-nav__link:hover .site-nav__button {
  background-color: var(--secondary-accent-color);
}
.site-nav__link.is-active .site-nav__button {
  color: var(--white-color);
  background-color: var(--main-accent-color);
}
@media screen and (min-width: 768px) {
  .site-nav__button {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .menu-button {
    display: none;
  }
}

.section-nav__button {
  width: 60px;
  height: 60px;
  padding: 15px;
  background-color: var(--white-color);
  border-radius: 20px;
  border-color: transparent;
}
.night-mode .section-nav__button {
  background-color: var(--dark-shady-color);
}
.section-nav__button:hover {
  background-color: var(--secondary-accent-color);
}
.section-nav__button.is-active {
  background-color: var(--main-accent-color);
}

.section-nav__icon {
  fill: var(--main-accent-color);
}
.section-nav__button.is-active .section-nav__icon {
  fill: var(--white-color);
}

.section-nav {
  display: flex;
  align-items: center;
}

.section-nav__links {
  display: flex;
}

.section-nav__search {
  width: 470px;
  height: 60px;
  background-color: var(--white-color);
  border-radius: 20px;
  background-color: transparent;
}

@media screen and (min-width: 1440px) {
  .container__nav-wrapper {
    position: sticky;
    left: 0;
  }
}

.header {
  display: flex;
  margin-bottom: 80px;
}

.switcher {
  display: flex;
  justify-content: space-between;
  width: 73px;
  margin-left: auto;
}

.main-title {
  font-weight: 500;
  font-size: 44px;
  line-height: calc(58 / 44);
  color: var(--main-text-color);
  margin-bottom: 10px;
}
.night-mode .main-title {
  color: var(--white-color);
}

.greetings {
  font-weight: 400;
  font-size: 20px;
  line-height: calc(29 / 20);
  margin-bottom: 60px;
}

.secondary-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(29 / 20);
  color: var(--main-text-color);
  margin-bottom: 20px;
}
.night-mode .secondary-title {
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .site-nav {
    width: 446px;
    display: flex;
    justify-content: space-between;
  }
}

.site-nav__image {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav__image {
    display: block;
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
  }
  .site-nav__link:hover .site-nav__image {
    border-color: var(--white-color);
  }
  .site-nav__link:active .site-nav__image {
    border-color: var(--secondary-accent-color);
  }
}

.site-nav__image--voting {
  background-color: #B4B7FF;
}

.site-nav__image--breed {
  background-color: #97EAB9;
}

.site-nav__image--gallery {
  background-color: #FFD280;
}

.design-wrapper {
  display: none;
}
@media screen and (min-width: 1440px) {
  .design-wrapper {
    display: block;
    position: relative;
    width: 680px;
    height: 840px;
    margin-bottom: 100px;
    background-color: var(--secondary-accent-color);
    border-radius: 20px;
  }
  .night-mode .design-wrapper {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.design-image {
  position: absolute;
  top: -90px;
  right: -30px;
  width: 775px;
  height: 1024px;
  background-image: url(/images/girl-and-pet.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .design-image {
    background-image: url(/images/girl-and-pet@2x.png);
  }
}/*# sourceMappingURL=main.css.map */