:root {
  --main-text-color: #1D1D1D;
  --secondary-text-color: #8C8C8C;
  --main-accent-color: #FF868E;
  --secondary-accent-color: #FBE0DC;
  --white-color: #ffffff;
  --background-items-color: #F8F8F7;
  --dark-shady-color: rgba(255, 255, 255, 0.05);
  --light-shady-color: rgba(255, 255, 255, 0.1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Jost, sans-serif;
  color: var(--secondary-text-color);
  background-color: #F8F8F7;
}
body.night-mode {
  background-color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 375px) {
  .container {
    position: relative;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-left: 147px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
  }
}

.section {
  width: 100%;
  padding: 20px;
  background-color: var(--white-color);
  border-radius: 20px;
}
.night-mode .section {
  background-color: var(--dark-shady-color);
}
@media screen and (min-width: 768px) {
  .section {
    width: 708px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    width: 680px;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  margin-right: 8px;
}

.logo__text {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(29 / 20);
  letter-spacing: 2px;
  color: var(--main-text-color);
}
.night-mode .logo__text {
  color: var(--white-color);
}

.switcher__icon {
  background-color: var(--white-color);
  width: 24px;
  height: 24px;
  padding: 4px;
  border-radius: 50px;
}
.night-mode .switcher__icon {
  background: rgba(255, 255, 255, 0.05);
  padding-top: 9px;
}

.switcher__icon--nigth {
  display: none;
}
.night-mode .switcher__icon--nigth {
  display: block;
}

.night-mode .switcher__icon--day {
  display: none;
}

.switcher__toggle:checked + .switcher__label {
  background-color: rgba(255, 134, 142, 0.2);
}
.switcher__toggle:checked + .switcher__label:before {
  transform: translateX(20px);
}

.switcher__label {
  display: flex;
  width: 44px;
  height: 24px;
  border-radius: 50px;
  position: relative;
  transition: transform 750ms ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;
  background-color: var(--secondary-accent-color);
}
.switcher__label:before {
  transition: transform 750ms ease;
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--main-accent-color);
  border-radius: 50%;
  top: 4px;
  left: 4px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  cursor: pointer;
}

.site-nav__button {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  height: 36px;
  color: var(--main-accent-color);
  background-color: var(--white-color);
  border-radius: 10px;
  margin-bottom: 20px;
}
.nigth-mode .site-nav__button {
  background: var(--light-shady-color);
}
.site-nav__link:hover .site-nav__button {
  background-color: var(--secondary-accent-color);
}
.site-nav__link.is-active .site-nav__button {
  color: var(--white-color);
  background-color: var(--main-accent-color);
}
@media screen and (min-width: 768px) {
  .site-nav__button {
    margin-bottom: 0;
  }
}

.section-nav__button {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  background-color: var(--white-color);
  border-radius: 20px;
}
.night-mode .section-nav__button {
  background-color: var(--dark-shady-color);
}
.section-nav__button:hover {
  background-color: var(--secondary-accent-color);
}
.section-nav__button.is-active {
  background-color: var(--main-accent-color);
}

.section-nav__icon {
  fill: var(--main-accent-color);
}
.section-nav__button.is-active .section-nav__icon {
  fill: var(--white-color);
}

.section-nav__search-button {
  position: absolute;
  top: -8px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-accent-color);
  cursor: pointer;
}
.night-mode .section-nav__search-button {
  background-color: rgba(255, 134, 142, 0.2);
}

.back-button-icon {
  fill: var(--main-accent-color);
}

.back-button {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: var(--secondary-accent-color);
  border-radius: 10px;
}
.back-button:hover {
  background-color: var(--main-accent-color);
}
.back-button:hover .back-button-icon {
  fill: var(--white-color);
}
.night-mode .back-button {
  background-color: rgba(255, 134, 142, 0.2);
}

.breeds__sort-btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.breeds__sort-btn:not(:last-child) {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .breeds__sort-btn:not(:last-child) {
    margin-right: 0;
  }
}
.breeds__sort-btn:hover {
  border: 2px solid var(--secondary-accent-color);
}
.breeds__sort-btn:hover .breeds__sort-icon {
  fill: var(--main-accent-color);
}
.night-mode .breeds__sort-btn {
  background-color: var(--light-shady-color);
}
.night-mode .breeds__sort-btn:hover {
  border: 2px solid rgba(255, 134, 142, 0.2);
}

.section-nav__search-icon {
  fill: var(--main-accent-color);
}

.gallery__update-btn {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: var(--white-color);
}
.night-mode .gallery__update-btn {
  background-color: var(--main-text-color);
}
.gallery__update-btn:hover {
  background-color: var(--main-accent-color);
}
.gallery__update-btn:hover .section-nav__search-icon {
  fill: var(--white-color);
}
@media screen and (min-width: 768px) {
  .gallery__update-btn {
    width: 40px;
    margin-top: 0;
    margin-left: 10px;
  }
}

.gallery__upload-icon {
  fill: var(--main-accent-color);
  margin-right: 10px;
}

.gallery__upload-btn {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding: 12px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--main-accent-color);
  background-color: var(--secondary-accent-color);
  border-radius: 10px;
}
.night-mode .gallery__upload-btn {
  background-color: rgba(255, 134, 142, 0.2);
}
.gallery__upload-btn:hover {
  color: var(--white-color);
  background-color: var(--main-accent-color);
}
.gallery__upload-btn:hover .gallery__upload-icon {
  fill: var(--white-color);
}
@media screen and (min-width: 768px) {
  .gallery__upload-btn {
    width: 143px;
    margin-left: auto;
    margin-top: 0;
  }
}

.section-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
@media screen and (min-width: 1440px) {
  .section-nav {
    justify-content: flex-end;
  }
}

.section-nav__links {
  display: flex;
}

.section-nav__search-form {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .section-nav__search-form {
    position: absolute;
    top: 0;
    left: 70px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .section-nav__search-form {
    top: 0;
    left: 0;
  }
}

.section-nav__search-label {
  position: relative;
}

.section-nav__search-input {
  width: 335px;
  height: 60px;
  padding: 10px;
  background-color: var(--white-color);
  border: 1px solid transparent;
  border-radius: 20px;
  border-color: transparent;
}
.night-mode .section-nav__search-input {
  color: var(--white-color);
  background-color: var(--dark-shady-color);
}
.section-nav__search-input:hover {
  border-color: var(--secondary-accent-color);
}
.section-nav__search-input:focus {
  outline: none;
  border-color: var(--main-accent-color);
}
.section-nav__search-input:focus::placeholder {
  color: var(--main-text-color);
}
.night-mode .section-nav__search-input:focus::placeholder {
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .section-nav__search-input {
    width: 340px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .section-nav__search-input {
    width: 470px;
  }
}

.section-nav__search-button {
  position: absolute;
  top: -8px;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: var(--secondary-accent-color);
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}
.night-mode .section-nav__search-button {
  background-color: rgba(255, 134, 142, 0.2);
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 90px 15px;
  background-color: rgba(29, 29, 29, 0.6);
  transform: scale(1);
  transition: opacity 500ms linear, visibility 500ms linear, transform 500ms linear;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  position: relative;
  min-width: 320px;
  padding: 100px 20px;
  background-color: var(--background-items-color);
}

@media screen and (min-width: 768px) {
  .container__nav-wrapper {
    padding: 0 117px;
  }
}
@media screen and (min-width: 1440px) {
  .container__nav-wrapper {
    padding: 0;
  }
}

.header {
  display: flex;
  margin-bottom: 80px;
}

.switcher {
  display: flex;
  justify-content: space-between;
  width: 73px;
  margin-left: auto;
}

.main-title {
  font-weight: 500;
  font-size: 44px;
  line-height: calc(58 / 44);
  color: var(--main-text-color);
  margin-bottom: 10px;
}
.night-mode .main-title {
  color: var(--white-color);
}

.greetings {
  font-weight: 400;
  font-size: 20px;
  line-height: calc(29 / 20);
  margin-bottom: 60px;
}

.secondary-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(29 / 20);
  color: var(--main-text-color);
  margin-bottom: 20px;
}
.night-mode .secondary-title {
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .site-nav {
    width: 446px;
    display: flex;
    justify-content: space-between;
  }
}

.site-nav__link {
  width: 100%;
}

.site-nav__image {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav__image {
    display: block;
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
  }
  .site-nav__link:hover .site-nav__image {
    border-color: var(--white-color);
  }
  .site-nav__link:active .site-nav__image {
    border-color: var(--secondary-accent-color);
  }
}

.site-nav__image--voting {
  background-color: #B4B7FF;
}

.site-nav__image--breed {
  background-color: #97EAB9;
}

.site-nav__image--gallery {
  background-color: #FFD280;
}

.mobile-menu__open-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 0;
}
@media screen and (min-width: 1440px) {
  .mobile-menu__open-button {
    display: none;
  }
}

.mobile-menu-container {
  display: none;
}
.mobile-menu-container.is-open {
  display: block;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 100px 20px;
  background-color: #F8F8F7;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu-container.is-open {
    padding: 110px 150px;
  }
}

.mobile-menu-container__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: var(--white-color);
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .mobile-menu-container__close-button {
    top: 30px;
    right: 30px;
  }
}

.design-wrapper {
  display: none;
}
@media screen and (min-width: 1440px) {
  .design-wrapper {
    display: block;
    position: relative;
    width: 680px;
    height: 840px;
    margin-bottom: 100px;
    background-color: var(--secondary-accent-color);
    border-radius: 20px;
  }
  .night-mode .design-wrapper {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.design-image {
  position: absolute;
  top: -90px;
  right: -30px;
  width: 775px;
  height: 1024px;
  background-image: url("../images/girl-and-pet.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .design-image {
    background-image: url("../images/girl-and-pet@2x.png");
  }
}

.section__name {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: var(--white-color);
  background-color: var(--main-accent-color);
  width: 146px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 10px;
}

.voting__header {
  display: flex;
  margin-bottom: 20px;
}

.voting__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 45px;
}
@media screen and (min-width: 768px) {
  .voting__image-wrapper {
    margin-bottom: 52px;
  }
}

.voting__actions {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: space-between;
  width: 186px;
  height: 60px;
  background-color: var(--white-color);
  border: 4px solid var(--white-color);
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .voting__actions {
    width: 256px;
    height: 88px;
  }
}

.voting__action {
  width: 57px;
  height: 53px;
}
@media screen and (min-width: 768px) {
  .voting__action {
    width: 80px;
    height: 80px;
  }
}
.voting__action--like {
  background-color: #97EAB9;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}
.voting__action--like:hover {
  background-color: rgba(151, 234, 185, 0.3);
}
.voting__action--fav {
  background-color: var(--main-accent-color);
}
.voting__action--fav:hover {
  background-color: rgba(255, 134, 142, 0.3);
}
.voting__action--dislike {
  background-color: #FFD280;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}
.voting__action--dislike:hover {
  background-color: rgba(255, 210, 128, 0.3);
}

.voting__icon {
  fill: var(--white-color);
}
.voting__action--like:hover .voting__icon {
  fill: #97EAB9;
}
.voting__action--fav:hover .voting__icon {
  fill: var(--main-accent-color);
}
.voting__action--dislike:hover .voting__icon {
  fill: #FFD280;
}

.voting__log {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: var(--background-items-color);
  border-radius: 10px;
}
.night-mode .voting__log {
  background-color: var(--dark-shady-color);
}

.voting__log-time {
  padding: 3px 10px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--main-text-color);
  background-color: var(--white-color);
  border-radius: 5px;
}
.night-mode .voting__log-time {
  color: var(--white-color);
  background-color: var(--main-text-color);
}

.voting__log-info {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
}
.voting__log-info--id {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--main-text-color);
}
.night-mode .voting__log-info--id {
  color: var(--white-color);
}

.voting__log-icon {
  margin-left: auto;
}

.breeds__header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .breeds__header {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.breeds__header .back-button {
  margin-right: 0;
}

.breeds__selected-id {
  display: none;
}

.select {
  height: 40px;
  background-color: var(--background-items-color);
  border-color: transparent;
  border-radius: 10px;
}
.select:hover {
  border: 2px solid var(--secondary-accent-color);
}
.select:focus, .select:active {
  border: 2px solid var(--main-accent-color);
}
.night-mode .select {
  color: var(--white-color);
  background-color: var(--main-text-color);
}

.breeds__markup {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  width: 100%;
  margin: 10px 0;
}
@media screen and (min-width: 768px) {
  .breeds__markup {
    width: 226px;
    margin: 0;
  }
}
.night-mode .breeds__markup {
  background-color: var(--dark-shady-color);
}
.night-mode .breeds__markup:hover {
  border-color: rgba(255, 134, 142, 0.2);
}

.breeds__limit-items {
  width: 185px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .breeds__limit-items {
    width: 101px;
    margin-right: 0;
  }
}
.night-mode .breeds__limit-items {
  background-color: var(--dark-shady-color);
}
.night-mode .breeds__limit-items:hover {
  border-color: rgba(255, 134, 142, 0.2);
}

.breeds__sort-icon {
  fill: var(--secondary-text-color);
}

.gallery__header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.gallery__search {
  background-color: var(--background-items-color);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .gallery__search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
  }
}
.gallery__search label {
  display: block;
  font-weight: 500;
  font-size: 10px;
  line-height: calc(18 / 10);
  text-transform: uppercase;
}
.gallery__search select {
  width: 100%;
  background-color: var(--white-color);
}
.night-mode .gallery__search {
  background-color: var(--dark-shady-color);
}

.gallery__search--decor {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .gallery__search--decor {
    flex-wrap: nowrap;
  }
}

.gallery__search--decor-div {
  width: 100%;
}/*# sourceMappingURL=main.css.map */