.breeds__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (min-width: $tablet) {
    justify-content: space-between;
    }
}

.breeds__markup {
    @include font(400, 16, 24);
    width: 295px;
    height: 40px;
    margin: 10px 0;
    background-color: var(--background-items-color);
    border-color: transparent;
    border-radius: 10px;

    &:hover {
        border: 2px solid var(--secondary-accent-color);
    }

    @media screen and (min-width: $tablet) {
        width: 226px;
        margin: 0;
    }
}

.breeds__limit-items {
    width: 185px;
    height: 40px;
    margin-right: 10px;
    background-color: var(--background-items-color);
    border-color: transparent;
    border-radius: 10px;
    
    &:hover {
        border: 2px solid var(--secondary-accent-color);
    }

    @media screen and (min-width: $tablet) {
        width: 101px;
        margin-right: 0;
    }
}

.breeds__sort-icon {
    fill: var(--secondary-text-color);
}

.grid {
    @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    }
}