.container__nav-wrapper {
    @media screen and (min-width: $desktop) {
    position: sticky;
    left: 0;
    }
}

.header {
    display: flex;
    margin-bottom: 80px;
}

.switcher {
    display: flex;
    justify-content: space-between;
    width: 73px;
    margin-left: auto;
}

.main-title {
    @include font(500, 44, 58);
    color: var(--main-text-color);
    margin-bottom: 10px;

    .night-mode & {
        color: var(--white-color);
    }
}

.greetings {
    @include font(400, 20, 29);
    margin-bottom: 60px;
}

.secondary-title {
    @include font(500, 20, 29);
    color: var(--main-text-color);
    margin-bottom: 20px;

    .night-mode & {
        color: var(--white-color);
    }
}

.site-nav {
    @media screen and (min-width: $tablet) {
        width: 446px;
        display: flex;
        justify-content: space-between;
    }
}

.site-nav__image {
    display: none;

    @media screen and (min-width: $tablet) {
        display: block;
        border-radius: 20px;
        border: 4px solid rgba(255, 255, 255, 0.6);
        margin-bottom: 10px;

        .site-nav__link:hover & {
            border-color: var(--white-color);
        }

        .site-nav__link:active & {
            border-color: var(--secondary-accent-color);
        }
    }
}

.site-nav__image--voting {
    background-color: #B4B7FF;
}
.site-nav__image--breed {
    background-color: #97EAB9;
}
.site-nav__image--gallery {
    background-color: #FFD280;
}