.section__name {
    @include font(500, 20, 30);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: var(--white-color);
    background-color: var(--main-accent-color);
    
    width: 146px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
}

.voting__header {
    display: flex;
    margin-bottom: 20px;
}

.voting__image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 45px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 52px;
    }
}

.voting__actions {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: space-between;
    width: 186px;
    height: 60px;
    background-color: var(--white-color);
    border: 4px solid var(--white-color);
    border-radius: 20px;

    @media screen and (min-width: $tablet) {
        width: 256px;
        height: 88px;
    }
}

.voting__action {
    width: 57px;
    height: 53px;

    @media screen and (min-width: $tablet) {
        width: 80px;
        height: 80px;
    }

    &--like {
        background-color: #97EAB9;
        border-top-left-radius: 17px;
        border-bottom-left-radius: 17px;

        &:hover {
            background-color: rgba(151, 234, 185, 0.3);
        }
    }

    &--fav {
        background-color: var(--main-accent-color);

        &:hover {
            background-color: rgba(255, 134, 142, 0.3);
        }
    }

    &--dislike {
        background-color: #FFD280;
        border-top-right-radius: 17px;
        border-bottom-right-radius: 17px;

        &:hover {
            background-color: rgba(255, 210, 128, 0.3);;
        }
    }
}

.voting__icon {
    fill: var(--white-color);

    .voting__action--like:hover & {
        fill: #97EAB9;
    }
    .voting__action--fav:hover & {
        fill: var(--main-accent-color);
    }
    .voting__action--dislike:hover & {
        fill: #FFD280;
    }
}

.voting__log {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--background-items-color);
    border-radius: 10px;

    .night-mode & {
        background-color: var(--dark-shady-color);
    }
}
.voting__log-time {
    padding: 3px 10px;
    margin-right: 20px;
    @include font(400, 16, 24);
    color: var(--main-text-color);
    background-color: var(--white-color);
    border-radius: 5px;

    .night-mode & {
        color: var(--white-color);
        background-color: var(--main-text-color);
    }
}
.voting__log-info {
    @include font(400, 16, 24);

    &--id {
        @include font(500, 16, 24);
        color: var(--main-text-color);

        .night-mode & {
            color: var(--white-color);
        }
    }
}
.voting__log-icon {
    margin-left: auto;
}