.button {
    text-align: center;
    letter-spacing: 2px;
    color: var(--main-accent-color);
    border-color: transparent;
    border-radius: 10px;
    padding: 10px;
    
    .nigth-mode & {
        background: var(--light-shady-color);
    }
}

.site-nav__button {
    @include font(500, 12, 16);
    width: 100%;
    height: 36px;
    background-color: var(--white-color);
    margin-bottom: 20px;

    .site-nav__link:hover &{
        background-color: var(--secondary-accent-color);
    }

    .site-nav__link.is-active & {
        color: var(--white-color);
        background-color: var(--main-accent-color);
    }
    
    @media screen and (min-width: $tablet) {
        margin-bottom: 0;
    }
}

.section-nav__button {
    width: 60px;
    height: 60px;
    padding: 15px;
    margin-left: 10px;
    background-color: var(--white-color);
    border-radius: 20px;
    border-color: transparent;

    .night-mode & {
        background-color: var(--dark-shady-color);
    }

    &:hover {
        background-color: var(--secondary-accent-color);
    }

    &.is-active {
        background-color: var(--main-accent-color);
    }
}

.section-nav__icon {
    fill: var(--main-accent-color);

    .section-nav__button.is-active & {
        fill: var(--white-color);
    }
}