.container {
    @media screen and (min-width: $mobile) {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }

    @media screen and (min-width: $tablet) {
        padding: 30px;
        padding-left: 117px;
    }

    @media screen and (min-width: $desktop) {
        padding-left: 147px;
        width: 1440px;
    }
}