.container {
    @media screen and (min-width: $mobile) {
        position: relative;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
        padding: 30px;
    }

    @media screen and (min-width: $desktop) {
        padding-left: 147px;
        width: $desktop;
        display: flex;
        justify-content: space-between;
    }
}

.section {
    width: 100%;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 20px;

    .night-mode & {
        background-color: var(--dark-shady-color);
    }

    @media screen and (min-width: $tablet) {
        width: 708px;
    }
    @media screen and (min-width: $desktop) {
        width: 680px;
    }
}