.design-wrapper {
    display: none;

    @media screen and (min-width: $desktop) {
        display: block;
        position: relative;
        width: 680px;
        height: 840px;
        margin-bottom: 100px;
        background-color: var(--secondary-accent-color);
        border-radius: 20px;

        .night-mode & {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.design-image {
    position: absolute;
    top: -90px;
    right: -30px;
    width: 775px;
    height: 1024px;
    background-image: url(/images/girl-and-pet.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(/images/girl-and-pet@2x.png);
    }
}