:root {
    --main-text-color: #1D1D1D;
    --secondary-text-color: #8C8C8C;
    --main-accent-color: #FF868E;
    --secondary-accent-color: #FBE0DC;
    --white-color: #ffffff;
    --background-items-color: #F8F8F7;
}

@mixin font($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs+px;
    line-height: calc(#{$lh} / #{$fs});
}